*{
  font-family:'Courier New', Courier, monospace;
}
.headerImage {
  opacity: 0.8;
  background-color: white;
  text-align: center;
  height: 10 rem;

}

.containerImage {
  opacity: 0.8;
  background-color: white;
  text-align: center;
  height: 10 rem;

}

.jumbotron {
  opacity: 0.8;
  background-color: white;
  text-align: center;
  height: 10 rem;
}

.header{
  text-align: center;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(102, 101, 101);
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  button {
    margin: 8px;
  }
  
